@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: rgb(8, 71, 73);
}
*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.conteiner{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form button{
    font-size: 24px;
    height: 50px;
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.topo{
    display: flex;
    justify-content: space-around;
}
.relogio{
    font-size: 3em;
}
.pausado{
    color: red;
}